<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>login</title>
</head>
<style>
input{
    margin-top:20px;
}
</style>
<body>
    <form action="/dologin" method="post">
        <input type="text" name = "username"/><br>
        <input type="password" name = "password"/><br>
        <input type="submit" value = "登陆" /><br>
    </form>
    
</body>
</html>