<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>login_success</title>
</head>
<style>
input{
    margin-top:20px;
}
</style>
<body>
    <h2>恭喜您注册成功！<%=username%></h2>
 
</body>
</html>